<script src="https://www.gstatic.com/firebasejs/3.7.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyCbm3dOS1BJb2S3Pjco_tbcvyaG26e-mgs",
    authDomain: "cold-case.firebaseapp.com",
    databaseURL: "https://cold-case.firebaseio.com",
    storageBucket: "cold-case.appspot.com",
    messagingSenderId: "663883980268"
  };
  firebase.initializeApp(config);
  //var ref = new Firebase('https://cold-case.firebaseio.com');
  //var database = firebase.database();
	var databaseRef = firebase.database().ref("server/saving-data/fireblog");
</script>

<script>
	var baseUrl = '{{ site.baseurl }}';

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-77905535-1', 'auto');
	ga('send', 'pageview');
</script>

<!-- jQuery -->
<script src="{{ 'js/jquery.js' | prepend: baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ 'js/bootstrap.min.js' | prepend: baseurl }}"></script>

<!-- Scrolling Nav JavaScript -->
<script src="{{ 'js/jquery.easing.min.js' | prepend: baseurl }}"></script>
<script src="{{ 'js/scrolling-nav.js' | prepend: baseurl }}"></script>

<!-- Lawmaker email JavaScript -->
<script src="{{ 'js/lawmakers.js' | prepend: baseurl }}"></script>
