<!-- Navigation -->
<header>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="padding-bottom: 0;">
      <div class="container">
          <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top">{{ site.title }}</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav">
                  <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                  <li class="hidden">
                      <a class="page-scroll" href="#page-top"></a>
                  </li>
                  {% assign sections = site.sections | sort: 'order' %}
                  {% for section in sections %}
                    {% if section.link %}
                      <li>
                          <a class="page-scroll" href="#{{ section.link | slugify }}">{{ section.link }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                  <li>
                    <a href="/images/HR1272.pdf">Link to Bill</a>
                  </li>
                  <li>
                    <a href="https://press.coldcaseact.com/">Press Resources</a>
                  </li>
              </ul>
          </div>
        <marquee>Civil Rights Cold Case Records Collection Act 2018                                                              Civil Rights Cold Case Records Collection Act 2018  </marquee>
          <!-- /.navbar-collapse -->
      </div>
      <!-- /.container -->
      <!-- <div class="banner"><div class="container" style="margin-left: auto; margin-right: auto">Help us visit Washington, D.C. to lobby for appropriations! <a target="_blank" href="https://www.gofundme.com/hightstown-high-school-washington-dc-trip" style="  ">Link to our GoFundMe</a></div></div> -->
  </nav>
</header>
